<!doctype html>
<html>
	<head>
		<title>Page 3</title>
		[[js-tags]]
		[[css-tags]]
	</head>
	<body>

		<h1>Page 3</h1>

		[[include menu/ ]]

		[[include allred/ ]]

		<p>This page is a normal one but has included a css component `<tt>allred</tt>` to ink all things with red color.</p>

		<p>The following file is the `<tt>menu</tt>` component, that is using the tag `<tt>link</tt>`.</p>

		[[include codegutter/ ]]
		<div>menu/index.html:</div>
		<code>[[content ../menu/index.html escape:html no-parse]]</code>


	</body>
</html>