
code {
  display: block;
  border: solid silver 1px;
  white-space: pre;
  overflow-x: auto;
}

code .gutter {
  display: block;
  float: left;
  min-width: 2rem;
  border-right: solid #EEEEEE 1px;
  text-align: right;
  color: #B2B2B2;
  background: white;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
