[component="a"] .background-linked {
	padding: 20px;
	padding-left: 64px;
	background: url('[[path smiley.png]]') no-repeat left center;
	background-size: contain;
}

[component="a"] .background-base64 {
	padding: 20px;
	padding-left: 64px;
	background: url('[[base64 smiley.png]]') no-repeat left center;
	background-size: contain;
}
